.App{
    font-family: Poppins,sans-serif;
    background-color: #f8f8ff;
    position: absolute;
    width: 99%;
    top: 0px;
    height: 100%;
}

.heading{
    font-size: 37px;
    font-weight: 700;
    color: #646681;
}
.main{
    width: 50%;
    margin: auto;
}

.filter{
    display: flex;
    justify-content: space-between;
}

.filter button{
    padding: 11px 25px 11px 25px;
    font-size: medium;
    background-color: #646ff0;
    color: white;
    border: none;
    border-radius: 5px;
}

.filter select{
    height: 40px;
    padding: 10px;
    width: 140px;
    background-color: #cccdde;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.filter select option{
    background-color: #cccdde;
    padding: 10px;
}


/* cardbody */

.cardbody{
    padding: 15px;
    background-color: #ecedf6;
    border-radius: 8px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.innerCard{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    gap: 10px;
    border-radius: 8px;
}


.left{
    display: flex;
    gap: 10px;
}

.taskName span{
    display: flex;
    flex-direction: row;
}
.time{
    font-size: 12px;
    color: gray;
}

.fontsize{
    font-size: 15px;
    width: 580px;
    overflow: hidden;
    word-break: break-all;

}

.icons{
    display: flex;
    gap: 10px;
    color: rgba(130, 130, 130, 0.959);
}

.icons span{
    background-color: lightgray;
    display: block;
    height: fit-content;
    padding: 2px 8px 6px 8px;
    border-radius: 5px;
    color: rgb(70, 70, 70);
}

.square input{
    height: 25px;
    width: 25px;
    margin-top: 4px;
    accent-color: #646ff0;
      
}

.icons span:hover{
    cursor: pointer;
    color: rgba(131, 131, 131, 0.959);
}

.checkbox:hover{
    cursor: pointer;
}

 .button ,.optionSelect:hover{
    cursor: pointer;
}

.noTodos{
    width: fit-content;
    margin: auto;
    padding: 5px 8px 5px 8px;
    background-color: rgb(222, 222, 222);
    border-radius: 8px;
}